<%= render 'shared/user-card' %>

<div class="flex flex-col justify-center gap-4 bg-white-800 border rounded-lg p-4 shadow-lg shadow-black-500/50">
  <h3 class="text-2xl font-bold font-kaushan text-primary">Your wigs</h3>
  <div class="flex flex-row gap-4">
    <% if @wigs.empty? %>
        <p class="text-lg">You have no wigs yet.</p>
        <%= link_to "Add a wig", new_wig_path, class: "bg-primary text-white px-4 py-2 rounded-md w-fit hover:bg-primary/80" %>
    <% else %>
      <%= render 'shared/wigscard', wigs: @wigs %>
    <% end %>
  </div>
</div>

<div class="flex flex-col justify-center mt-4 gap-4">
    <% if @bookings.empty? %>
        <h3 class="text-2xl font-bold font-kaushan text-primary">Your bookings</h3>
        <p class="text-lg">You have no bookings yet.</p>
        <%= link_to "Browse wigs", wigs_path, class: "bg-primary text-white px-4 py-2 rounded-md w-fit hover:bg-primary/80" %>
    <% else %>
        <%= render 'shared/bookings-cards' %>
    <% end %>
</div>
