<turbo-frame id="modalSignup">
  <div class="bg-slate-100 w-96 border border-slate-600 rounded-md flex-col p-4 translate-y-10 transition-transform duration-300 ease-in-out <%= "hidden" unless @show_modal_signup %>"
      data-toggle-login-target="modalSignup">
    <h2 class="text-2xl font-bold text-center font-kaushan text-primary">Sign up</h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <div class="my-4 flex flex-col items-center gap-2">
        <%= f.input :first_name,
                    required: true, 
                    autofocus: true,
                    input_html: { autocomplete: "first-name",
                                  class: "border border-slate-600 rounded-md p-2 flex flex-col gap-2 w-full focus:border-primary focus:outline-none",
                                  placeholder: "John" } %>
        <%= f.input :last_name,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "last-name",
                                  class: "border border-slate-600 rounded-md p-2 flex flex-col gap-2 w-full focus:border-primary focus:outline-none",
                                  placeholder: "Doe" } %>
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email",
                                  class: "border border-slate-600 rounded-md p-2 flex flex-col gap-2 w-full focus:border-primary focus:outline-none",
                                  placeholder: "john.doe@example.com" }%>
        <%= f.input :password,
                    required: true,
                    input_html: { autocomplete: "new-password",
                                  class: "border border-slate-600 rounded-md p-2 flex flex-col gap-2 w-full focus:border-primary focus:outline-none",
                                  placeholder: "********" } %>
        <%= f.input :password_confirmation,
                    required: true,
                    input_html: { autocomplete: "new-password",
                                  class: "border border-slate-600 rounded-md p-2 flex flex-col gap-2 w-full focus:border-primary focus:outline-none",
                                  placeholder: "********" } %>
        <div class="flex flex-col items-center justify-start w-1/2 mb-2">
          <%= f.input :profile_image, as: :file, input_html: { class: "hidden", id: "file-upload" } %>
          <label for="file-upload" class="btn-photo w-[80%]">
            Add photo 💾
          </label>
        </div>
        <%= f.button :submit, "Sign up", class: "btn" %>
      </div>
    <% end %>
  </div>
</turbo-frame>