<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6">
  <% @wigs.each do |wig| %>
    <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
      <%= link_to wig_path(wig) do %>
        <img class="rounded-t-lg" src="<%= wig.image %>" alt="<%= wig.name %>" />
      <% end %>

      <div class="p-5">
        <%= link_to wig_path(wig), class: "block" do %>
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"><%= wig.name %></h5>
        <% end %>
        <div class="flex items-center my-4">
          <svg class="w-4 h-4 text-yellow-300 me-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
            <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
          </svg>
          <p class="ms-2 text-sm font-bold text-gray-900 dark:text-white">4.95</p>
          <span class="w-1 h-1 mx-1.5 bg-gray-500 rounded-full dark:bg-gray-400"></span>
          <a href="#" class="text-sm font-medium text-gray-900 underline hover:no-underline dark:text-white">73 reviews</a>
        </div>

        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
          Material: <%= wig.material %>
        </p>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
          Color: <%= wig.color %>
        </p>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
          Hairstyle: <%= wig.hair_style %>, Length: <%= wig.length %>
        </p>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
          Price: $<%= wig.price %>
        </p>
        <%= link_to wig_path(wig), class: "inline-flex items-center px-3 py-2 text-sm bg-primary hover:bg-heavyprimary text-white font-bold py-2 px-4 border-b-4 border-heavyprimary hover:border-heavyprimary rounded" do %>
          Read more
          <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9" />
          </svg>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
