
<h1>Wig Details</h1>

<h2 class="text-2xl font-bold text-gray-800 mt-12"><%= @wig.name %></h2>

<div class="flex justify-between w-full">
  <div class="flex flex-col gap-4 bg-white-800 border rounded-lg p-4 shadow-lg shadow-black-500/50">
    <div class="shadow-lg flex justify-center items-center">
      <%= cl_image_tag @wig.wig_image.key, class: "rounded-lg h-96 w-96" %>
    </div>      

    <div class="flex flex-col">
      <div class="flex gap-2">
        <p><span class="font-bold">Material : </span><%= @wig.material  %>,</p>
        <p><span class="font-bold">Hair style: </span><%=@wig.hair_style %>, </p>
        <p><span class="font-bold">Price: </span><%= number_to_currency(@wig.price) %>. </p>
      </div>
      <div class="flex gap-2">
        <p><span class="font-bold">Address: </span><%= @wig.address %>, </p>
        <p><span class="font-bold">Color: </span><%= @wig.color %>, </p>
      </div>
    </div>
  </div>
    
  <div class ="bg-grey-500 rounded-lg px-2 pt-4 border shadow-lg shadow-black-500/50  w-1/4 flex flex-col gap-4 justify-center items-center">
    <h2 class ="mb-12 ml-4 text-2xl font-bold text-gray-800 text-center "> <%= number_to_currency(@wig.price) %>/day</h2>
    <div class="flex flex-col items-center justify-between w-full">
      <p>From</p>
      <input type="text" placeholder="00/00/0000" class="w-[90%]">
    </div>
    <div class="flex flex-col items-center justify-between w-full">
      <p>To</p>
      <input type="text" placeholder="00/00/0000" class="w-[90%]">
    </div>

    <button class="w-1/2 text-sm bg-primary hover:bg-heavyprimary text-white font-bold py-2 px-4 border-b-4 border-heavyprimary hover:border-heavyprimary rounded">Book it now !</button>
  </div>
</div>
